@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Regular.woff") format("woff"), url("fonts/Montserrat Regular.eot") format("embedded-opentype"), url("fonts/Montserrat Regular.ttf") format("truetype"), url("fonts/Montserrat Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Maitree SemiBold";
   src: url("fonts/Maitree-SemiBold.woff") format("woff"), url("fonts/Maitree-SemiBold.eot") format("embedded-opentype"), url("fonts/Maitree-SemiBold.ttf") format("truetype"), url("fonts/Maitree-SemiBold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Maitree";
   src: url("fonts/Maitree.woff") format("woff"), url("fonts/Maitree.eot") format("embedded-opentype"), url("fonts/Maitree.ttf") format("truetype"), url("fonts/Maitree.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Roboto Black";
   src: url("fonts/Roboto Black.woff") format("woff"), url("fonts/Roboto Black.eot") format("embedded-opentype"), url("fonts/Roboto Black.ttf") format("truetype"), url("fonts/Roboto Black.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}